<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="../public/login.css" type="text/css">
    <!--Formatação css-->
</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a href="../../index.html">início</a></li>
        </ul>
    </nav>

    <!-- cabeçalho -->
    <header>
        <h1><a href="https://www.hcode.com.br">Tela de Login</a></h1>
        <nav></nav>
    </header>
    <!-- conteúdo -->
    <section class="content-center">
        <div>
            <a href="https://www.hcode.com.br" target="_blink">
                <img src="../../assets/logo_hcode.png" alt="Logo da Hcode">
            </a>
        </div>
        <!-- Formulário de login -->
        <form action="" method="POST" id="form-login">
            <input type="email" id="email" placeholder="Digite seu email" required>
            <input type="password" id="pass" placeholder="Digite sua senha" required>
            <button type="submit" id="btn-submit">Enviar</button>
        </form>
    </section>
    <!-- rodapé -->
    <footer>
        <p>Curso de Html 5 da Hcode.</p>
    </footer>

    <script src="../js/script.js"></script>
</body>

</html>